<div class="col-xs-10 col-xs-offset-1 about">
  <h1> About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/mmeitl">Matthew</a> Who is building web applications to further enhance the skills to create professional web applications.
  </p>
  <br />
  <p>
    Matt attended theFirehoseProject to gain the necessary skills and knowledge to build products people wants
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'IMG_0345.JPG', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Matthew Meitl</h2>
    <br />
    <p>
      Matthew Meitl works in the IT industry as Desktop Support. He is currently building applications such as these to gain experience in web and software development. He is from Abilene, TX and currently lives in Austin, TX where he is looking to make a career in IT.
    </p>
  </div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />